#clockcontainer{
    position: relative;
    /* to make it responsive so that hand will move wrt it */
    height: 40vw;
    width: 40vw;
    background-image: url(clock3.png) ;
    background-size: 100%;
    /* By doing size=100% the clock has fitted into the specified area */
    /* border: 2px solid red; */
    margin: auto;
}

#hour,#minutes,#seconds{
    position: absolute; 
    /* so that we can shift the hands from left and top */
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
    /* so that the hands of the clock may rotate from bottom else they will rotate from center */
}

#hour{
    top:40%;
    left:47.85%;
    height: 15%;
    width: 3%;
}

#minutes{
    top:33.5%;
    left:48.3%;
    height: 21%;
    width: 2%;
}

#seconds{
    top: 25.75%;
    height: 28%;
    width: 1%;
    left: 48.85%;
    
}
